<a href="https://datamics.com/de/courses/"><img src=../DATA/bg_datamics_top.png></a>

<em text-align:center>© Datamics</em>
# Klassifizierungsübung - Aufgabe

Wir werden mit einigen Zensusdaten aus Kalifornien arbeiten. In diesen Daten sind Eigenschaften von Leuten festgehalten, anhand derer wir versuchen werden ihr Einkommen vorherzusagen (>50k oder <= 50k).

Hier einige Informationen über den Datensatz:

<table>
<thead>
<tr>
<th>Spaltenname</th>
<th>Datentyp</th>
<th>Beschreibung</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>Das Alter der Person</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>Der Typ des Arbeitgebers der Person (Regierung,  Militär, Privatwirtschaft, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>Die Anzahl an Personen, die die befragte Person, als repräsentativ betrachtet. Diese Variable werden wir nicht nutzen.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>Der höchste Bildungsabschluss der Person</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>Der höchste Bildungsabschluss in numerischer Form</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Familienstand der Person</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>Beschäftigung der Person</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Ehefrau, Eigenes Kind, Ehemann, Nicht-in-der-Familie, Unverheiratet.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>Weiß, Asiatisch-Pazifische-Inseln, Amerika-Indianisch-Eskimo, Andere, Schwarz</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Weiblich, Männlich</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Kapitalgewinne</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Kapitalverluste</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Arbeitsstunde pro Woche</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Herkunftsland</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" oder "&lt;=50K", also ob der jenige mehr oder weniger als $50.000 im Jahr verdient.</td>
</tr>
</tbody>
</table>

Befolgt die **fett** geschriebenen Anweisungen.

## Die Daten laden

**Lese die `census_data.csv` Datei mit Pandas ein.**

In [20]:
import pandas as pd
dfCal = pd.read_csv('./census_data.csv')

In [21]:
dfCal.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

TensorFlow ist nicht in der Lage Strings als Label zu verstehen. Wir müssen Pandas `.apply()` Methode verwenden. So können wir eine selbstgeschriebene Funktion erstellen, die Label in 0en und 1en umwandelt.

*Hinweis: Wenn du dich mit Pandas nicht auskennst könnte dieser Schritt etwas schwieriger sein. Schaue gerne in die Lösung.*

**Wandle die Label-Spalte in 0en und 1en um.**

In [22]:
dfCal['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [23]:
def label_fix(label):
    if str(label)==' <=50K':
        return 0
    else:
        return 1

In [24]:
dfCal['income_bracket'] = dfCal['income_bracket'].apply(label_fix)

In [25]:
dfCal['income_bracket'].unique()

array([0, 1], dtype=int64)

In [26]:
dfCal.describe()

,age,education_num,capital_gain,capital_loss,hours_per_week,income_bracket
count,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,10.080679,1077.648844,87.303830,40.437456,0.240810
std,13.640433,2.572720,7385.292085,402.960219,12.347429,0.427581
min,17.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [28]:
dfCal.tail()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

## Train Test Split
**Teile die Daten in Trainings- und Testset auf.**

## Feature Spalte für tf.estimator
**Erstelle eine Feature-Spalte für Tensorflow.**
*Hinweis: Achte auf kategorische und kontinuierliche Werte.*

**Importiere `tensorflow` als tf.**

**Erstelle die `tf.feature_column`s für die kategorischen Werte. Nutze "vocabulary lists" oder einfach "hash buckets".**

**Erstelle die kontinuierlichen Feature-Splaten für die kontinuierlichen Werte mit `numeric_column`.**

**Füge alle diese Variablen in eine einzige Liste mit dem Namen "feat_cols".**

## Input Funktion erstellen
**Erstelle eine Input Funktion. die `batch_size` ist dir überlassen.**

**Erstelle dein Modell mit `tf.estimator`. Verwende einen `LinearClassifier`.**

**Trainiere dein Modell auf den Daten. Führe mindestens 5000 Schritte durch.**

## Auswertung

**Erstelle eine Vorhersagefunktion. Bedenke dabei nur X_test daten zu verwenden und setze `shuffle=False`.**

**Nutze `model.predict()` und übergib die Inputfunktion. Dieser Vorgang wird einen Generator von Vorhersagen erstellen. Diesen kannst du in eine Liste umwandeln, indem du `list()` verwendest.**

Jeder Eintrag deiner Liste wird wie folgt aussehen:

**Erstelle eine Liste, die nur die "class_ids" Key-Values aus der Liste der Dictionaries beinhaltet. Dies sind die Werte, die wir mit den echten Werten aus y_test vergleichen können.**

**Importiere den `classification_report` aus `sklearn.metrics`. Finde dann heraus, wie du den Classification Report verwenden kannst, um schnell eine Zusammenfassung deiner Modell Performance zu erhalten.**

# Gut gemacht!