In [33]:
import pandas as pd

In [34]:
#Create Dataframe
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
df = pd.DataFrame(data)
print(df)

      0   1
0   tom  10
1  nick  15
2  juli  14

In [35]:
#Create Dataframe & add Column names
df2 = pd.DataFrame(data, columns = ['Name', 'Age']) 
print(df2)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [36]:
# Having 2 dataframes of same strucutre & append those => Sequential
dataA = [['tom', 10], ['nick', 15], ['juli', 14]] 
dataB = [['Jochen', 117], ['Chris', 71], ['Silvia', 5]] 
dfA = pd.DataFrame(dataA, columns = ['Name', 'Age'])
dfB = pd.DataFrame(dataB, columns = ['Name', 'Age'])

In [37]:
#I
dfappend = dfA.append(dfB)
print(dfappend)
print("###################")

#update index
dfappend = dfappend.reset_index()
# Drop old index column
dfappend = dfappend.drop(columns="index")
print(dfappend)

     Name  Age
0     tom   10
1    nick   15
2    juli   14
0  Jochen  117
1   Chris   71
2  Silvia    5
###################
     Name  Age
0     tom   10
1    nick   15
2    juli   14
3  Jochen  117
4   Chris   71
5  Silvia    5

In [38]:
#II concat => next to each other => rename / Überschreiebn
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
print(dfconcat)
print("###################")
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
dfconcat.columns = ['Name', 'Age', 'ParentsName', 'ParentsAge']
print(dfconcat)

   Name  Age    Name  Age
0   tom   10  Jochen  117
1  nick   15   Chris   71
2  juli   14  Silvia    5
###################
   Name  Age ParentsName  ParentsAge
0   tom   10      Jochen         117
1  nick   15       Chris          71
2  juli   14      Silvia           5

In [39]:
# add column to dataframe with default value
dfconcat["z"]=1,2,3
print(dfconcat)

   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

In [40]:
# Split in to dataframes an Spalten-Nummer
dfSplit1 = dfconcat.iloc[:, :2]
dfSplit2 = dfconcat.iloc[:, 2:]
dfSplit3 = dfconcat.iloc[:, 1]
dfSplit4 = dfconcat.iloc[:, :]
print(dfSplit1)
print("########")
print(dfSplit2)
print("########")
print(dfSplit3)
print("########")
print(dfSplit4)

   Name  Age
0   tom   10
1  nick   15
2  juli   14
########
  ParentsName  ParentsAge  z
0      Jochen         117  1
1       Chris          71  2
2      Silvia           5  3
########
0    10
1    15
2    14
Name: Age, dtype: int64
########
   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

In [41]:
# show all possible values in column & Anzahl der möglichen ausprägungen
print(dfconcat.Name.unique())
dfconcat_names = list(dfconcat['Name'].unique())
print(len(dfconcat_names))

['tom' 'nick' 'juli']
3