# Links
[Link von "Pracitcal Statistics for Data Science"](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html)

# Erstelle Pandas-DF
wenn nicht eingelesen kann man den auch aus den Python datentypen überführen

In [1]:
import pandas as pd

## Create Dataframe out of own Data

In [2]:

data = [['tom', 10], ['nick', 15], ['juli', 14]] 
df = pd.DataFrame(data)
print(df)

      0   1
0   tom  10
1  nick  15
2  juli  14

## Create Dataframe & add Column names

In [3]:
df2 = pd.DataFrame(data, columns = ['Name', 'Age']) 
print(df2)
# alternativ kann auch direkt ins df die Spalten hinzugefügt werden
df.columns = ['Name', 'Age']
print(df)

   Name  Age
0   tom   10
1  nick   15
2  juli   14
   Name  Age
0   tom   10
1  nick   15
2  juli   14

# Column Names

## get Column names as list

In [4]:
print('########Version 1########')
for col in df2.columns: 
    print(col) 
print()
print('########Version 2########')
#Version 2 mit integrated Function
print(df2.columns)
print(df2.columns[0])
print(df2.columns[1])

########Version 1########
Name
Age

########Version 2########
Index(['Name', 'Age'], dtype='object')
Name
Age

## Replace Column Names

In [5]:
print('########Version2########')
'''
hier werden alle spalten geändert
'''
newColumnList = ['FirstName', 'Years since Birth']
df.columns = newColumnList
print(df)
print()
print('########Version2########')
'''
hier werden alle spalten geändert
'''
df.rename(columns={'FirstName':'nickname', 
                   'Years since Birth':'age'}, 
                 inplace=True)
print(df)
print()
print('########Version3########')
'''
hier wird lediglich eine Spalte geändert
'''
df.rename(columns={'nickname':'Name'}, 
                 inplace=True) 
print(df)
print()

########Version2########
  FirstName  Years since Birth
0       tom                 10
1      nick                 15
2      juli                 14

########Version2########
  nickname  age
0      tom   10
1     nick   15
2     juli   14

########Version3########
   Name  age
0   tom   10
1  nick   15
2  juli   14

# Select / Reshape Data

hier wollen ein unter Subset-Bilden. Ziel ist es aus einem Datensatz mit n feature einen neuen datensatz mit n-"WelcheAnzahlAuchImmter" zu bilden. Anders ausgedrückt, wir wollen nur bestimmte SPALTEN herauspicken. 

Wollen wir nur bestimmte ZEILEN auswählen, so muss man einen Filter/Subset wählen.

In [6]:
import pandas as pd
df=pd.read_csv('./Sample-Projects//ISLR/data/islrData_advertising.csv',delimiter=',',encoding='utf-8')
df = df.drop(['Unnamed: 0'], axis=1)

## Version1 dropping obsolet data

In [7]:
dfTv = df.drop(['TV','radio','newspaper'], axis=1)
print(dfTv.shape) # => es ist wichtig dass hier (200,1) und nicht (200, ) steht

(200, 1)

## Version 2  Transform into NP & reshaping the format

### Long Version

In [8]:
dfTv = df['TV']
print(dfTv.shape) # => hier eben das Problem das oben bereit erwähnt wurde => (200, ) 
dfTv = dfTv.values.reshape(-1,1)
print(dfTv.shape) # => hier eben das Problem das oben bereit erwähnt wurde => (200, )

(200,)
(200, 1)

### Short Version

In [9]:
dfTv = df['TV'].values.reshape(-1,1)
print(dfTv.shape)
print(type(dfTv))
print(type(df))

(200, 1)
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

## Version 3 Transformin in Numpy & select multiple Columns

In [10]:
data = df.iloc[:, 2:4].values
print(data.shape)
print(type(data))
print(type(df))

(200, 2)
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

# Sort Dataframe

## Sortieren eines Vektors /SingleColumnDF/PandasSeries

In [11]:
dfSingleColumUNSORTED = df['TV']
dfSingleColumSORTED = dfSingleColumUNSORTED.sort_values(ascending=True)
#print(dfSingleColumUnsorted)
#print(dfSingleColumSORTED)

## Sortieren eines Dataframes

### Einzelnes Feature für Sortierung

In [12]:
dfSortedforTv = df.sort_values(['TV'], ascending=True)
print(df.head(5))
print(dfSortedforTv.head(5))

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9
      TV  radio  newspaper  sales
130  0.7   39.6        8.7    1.6
155  4.1   11.6        5.7    3.2
78   5.4   29.9        9.4    5.3
56   7.3   28.1       41.4    5.5
126  7.8   38.9       50.6    6.6

### Mehrere Feature für Sortierung

In [13]:
# hat noch nicht geklappt, wenn ich das brauch hier die Solution hinzfügen

# Ausprägungen eines Features

In [14]:
# hier kann ich nicht mit dem Dataset von TV arbeiten, da dieses lediglich aus numerischen Weten besteht => iris und dort die art, dort gibt es nur 3 ausprägungen
import pandas as pd
iris = pd.read_csv('./Sample-Projects/Iris/data/iris.data',delimiter=',',encoding='utf-8')
iris.columns = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']

In [15]:
print(iris.Species.unique())
irisNames = list(iris['Species'].unique())
print(irisNames)
print(type(irisNames))
print(len(irisNames))

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
<class 'list'>
3

# Subsets / Filter
hier wollen ein unter Subset-Bilden. Ziel ist es bspw nur die "Iris-versicolor" aus dem IRIS-Dataset zu haben
Das Subset kann man sich vorstellen wie ein Filter auf die Zeilen. Möchte man die Spalten Filtern(auswahl nur bestimmter Feature so muss nur diese Auswählen)so muss nur diese Auswählen. Kluger satz. Das mach ich in diesem Notebook unter dem Punkt "Select/Reshape Data"

## Filter for categorical Value

In [16]:
#carDF.loc[carDF['make'] == 'audi']
filteredforIrisVersicolor  = iris.loc[iris['Species'] == 'Iris-versicolor']
#print(filteredforIrisVersicolor)
print(iris.Species.unique())
print(filteredforIrisVersicolor.Species.unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
['Iris-versicolor']

## Filter for numerical Value

In [45]:
print(iris.describe()) # mean SepalLengthCm  =5.848322

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     149.000000    149.000000     149.000000    149.000000
mean        5.848322      3.051007       3.774497      1.205369
std         0.828594      0.433499       1.759651      0.761292
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.400000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [48]:
filteredSmallerThanMeanSepalLengthCM = iris['SepalLengthCm'] > 5
print(filteredSmallerThanMeanSepalLengthCM.describe())

count      149
unique       2
top       True
freq       117
Name: SepalLengthCm, dtype: object

# Having 2 dataframes of same strucutre & append those => Sequential
hier werden die DF aneinandergereiht

In [18]:
# erstellen der zwei dataframes
dataA = [['tom', 10], ['nick', 15], ['juli', 14]] 
dataB = [['Jochen', 117], ['Chris', 71], ['Silvia', 5]] 
dfA = pd.DataFrame(dataA, columns = ['Name', 'Age'])
dfB = pd.DataFrame(dataB, columns = ['Name', 'Age'])

In [19]:
#Inteaktion des Dataframes
dfappend = dfA.append(dfB)
print(dfappend)
print("###################")

#update index for new dataframe
dfappend = dfappend.reset_index()
# Drop old index column
dfappend = dfappend.drop(columns="index")
print(dfappend)

     Name  Age
0     tom   10
1    nick   15
2    juli   14
0  Jochen  117
1   Chris   71
2  Silvia    5
###################
     Name  Age
0     tom   10
1    nick   15
2    juli   14
3  Jochen  117
4   Chris   71
5  Silvia    5

# Having 2 dataframes of same size & concat those => parallel
hier kann man mit den Column names sich natürlich besser spielen

In [20]:
#II concat => next to each other => rename / Überschreiebn
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
print(dfconcat)
print("###################")
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
dfconcat.columns = ['Name', 'Age', 'ParentsName', 'ParentsAge']
print(dfconcat)

# alternative für die Spalten namen || in diesem bsp halt doof, da hier die gleiche Sturktur (= jeweils Name', 'Age' vorliegt, 
# daher ist das eher ein bsp für sequentielle verbinung nicht parallel )
newHeader = list(list(dfA.columns) + list(dfB.columns))

   Name  Age    Name  Age
0   tom   10  Jochen  117
1  nick   15   Chris   71
2  juli   14  Silvia    5
###################
   Name  Age ParentsName  ParentsAge
0   tom   10      Jochen         117
1  nick   15       Chris          71
2  juli   14      Silvia           5

# add column to dataframe with default value

In [21]:
dfconcat["z"]=1,2,3
print(dfconcat)

   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

# Split in to dataframes an Spalten-Nummer
besonders wichtig bei dem Teil Split von in & output variable

In [22]:
dfSplit1 = dfconcat.iloc[:, :2]
dfSplit2 = dfconcat.iloc[:, 2:]
dfSplit3 = dfconcat.iloc[:, 1]
dfSplit4 = dfconcat.iloc[:, :]
print(dfSplit1)
print("########")
print(dfSplit2)
print("########")
print(dfSplit3)
print("########")
print(dfSplit4)

   Name  Age
0   tom   10
1  nick   15
2  juli   14
########
  ParentsName  ParentsAge  z
0      Jochen         117  1
1       Chris          71  2
2      Silvia           5  3
########
0    10
1    15
2    14
Name: Age, dtype: int64
########
   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

# show all possible values in column & Anzahl der möglichen Ausprägungen

In [23]:
print(dfconcat.Name.unique())
dfconcat_names = list(dfconcat['Name'].unique())
print(len(dfconcat_names))

['tom' 'nick' 'juli']
3

# Subset & filter
## numeric Subset

In [24]:
import numpy as np
# generate random Dataframe
df = pd.DataFrame(np.random.randn(30, 3), columns=['a','b','c'])
#print(df)

In [25]:
# Subset & Filter einfach
df = pd.DataFrame(np.random.randn(30, 3), columns=['a','b','c'])
df_filtered = df.query('a > 0')
#print(df_filtered) #=> das gesamte df
#print(df_filtered.a) #=>gefiltertes df und dort die spalte a

In [26]:
# Subset & Filter kette = mehrere Filter auf ein DF
df_filtered = df.query('a > 0').query('0 < b < 2')
# print(df_filtered) => mehrere Filter

## categorical Subset

In [27]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 19, 22, 21],
'favorite_color': ['blue', 'blue', 'yellow', "green"],
'grade': [88, 92, 95, 70]}

df = pd.DataFrame(raw_data)
df.head()

               name  age favorite_color  grade
0    Willard Morris   20           blue     88
1       Al Jennings   19           blue     92
2      Omar Mullins   22         yellow     95
3  Spencer McDaniel   21          green     70

In [28]:
#To select rows whose column value equals a scalar, some_value, use ==:
df.loc[df['favorite_color'] == 'yellow']

           name  age favorite_color  grade
2  Omar Mullins   22         yellow     95

### !!! Meldung
Ab hier brauche ich eine etwas komplexeres Datenset um klar zu machen, was ich hier tue. Die Schritte sind jedoch nach wievor unabhängig jeweils je Chunk(bzw abschnitt) unabhängig voneinander. Es geht lediglich darum die Konzepte zu verdeutlichen.

In [29]:
import pandas
labelList=['symboling','normalizedLosses','make','fuelType','aspiration','numOfDoors','bodyStyle','driveWheels','engineLocation',
           'wheelBase','length','width','height','curbWeight','engineType','numOfCylinders','engineSize','fuelSystem','bore',
           'stroke','compressionRatio','horsepower','peakRpm','cityMpg','highwayMpg','price']
carDF = pd.read_csv('./data/data_car.csv',delimiter=',',encoding='utf-8', names=labelList)

# Basicinfo

carDF.info()
carDF.isna().any()
carDF.describe()

In [30]:
#carDF.loc[carDF['make'] == 'audi']
filteredcarDF = carDF.loc[carDF['horsepower'] == '?']

# Ersetzen von Werten // replace

In [31]:
import numpy as np
carDF = carDF.replace("?", np.nan)

# Change Datatype
Es kann vorkommen dass der Datentype geändert werden muss. Hier wird im "carDF" direkt der Wert überschrieben. Davor müssen jedoch die NANs behandelt werden mit Imputation oder drop oder whatever

In [32]:
carDF[['price']]=carDF[['price']].astype('float64')

# Transform pandas in Numpy-Array

In [33]:
print()
arr = df.to_numpy()
print(type(df))
print(type(arr))
print(arr)

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
[['Willard Morris' 20 'blue' 88]
 ['Al Jennings' 19 'blue' 92]
 ['Omar Mullins' 22 'yellow' 95]
 ['Spencer McDaniel' 21 'green' 70]]