# Erstelle Pandas-DF
wenn nicht eingelesen kann man den auch aus den Python datentypen überführen

# Links
[Link von "Pracitcal Statistics for Data Science"](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html)

In [2]:
import pandas as pd

## Create Dataframe out of own Data

In [3]:

data = [['tom', 10], ['nick', 15], ['juli', 14]] 
df = pd.DataFrame(data)
print(df)

      0   1
0   tom  10
1  nick  15
2  juli  14

## Create Dataframe & add Column names

In [4]:
df2 = pd.DataFrame(data, columns = ['Name', 'Age']) 
print(df2)
# alternativ kann auch direkt ins df die Spalten hinzugefügt werden
df.columns = ['Name', 'Age']
print(df)

   Name  Age
0   tom   10
1  nick   15
2  juli   14
   Name  Age
0   tom   10
1  nick   15
2  juli   14

# Column Names

## get Column names as list

In [5]:
print('########Version 1########')
for col in df2.columns: 
    print(col) 
print()
print('########Version 2########')
#Version 2 mit integrated Function
print(df2.columns)
print(df2.columns[0])
print(df2.columns[1])

########Version 1########
Name
Age

########Version 2########
Index(['Name', 'Age'], dtype='object')
Name
Age

## Replace Column Names

In [6]:
print('########Version2########')
'''
hier werden alle spalten geändert
'''
newColumnList = ['FirstName', 'Years since Birth']
df.columns = newColumnList
print(df)
print()
print('########Version2########')
'''
hier werden alle spalten geändert
'''
df.rename(columns={'FirstName':'nickname', 
                   'Years since Birth':'age'}, 
                 inplace=True)
print(df)
print()
print('########Version3########')
'''
hier wird lediglich eine Spalte geändert
'''
df.rename(columns={'nickname':'Name'}, 
                 inplace=True) 
print(df)
print()

########Version2########
  FirstName  Years since Birth
0       tom                 10
1      nick                 15
2      juli                 14

########Version2########
  nickname  age
0      tom   10
1     nick   15
2     juli   14

########Version3########
   Name  age
0   tom   10
1  nick   15
2  juli   14

# Select / Reshape Data
Man möchte aus einem Datensatz eine spalte isoliert haben
für die Veranschaulichung brauch ich den Datensatz von Advertisment:

In [21]:
import pandas as pd
df=pd.read_csv('./Sample-Projects//ISLR/data/islrData_advertising.csv',delimiter=',',encoding='utf-8')
df = df.drop(['Unnamed: 0'], axis=1)

## Version1 dropping obsolet data

In [22]:
dfTv = df.drop(['TV','radio','newspaper'], axis=1)
print(dfTv.shape) # => es ist wichtig dass hier (200,1) und nicht (200, ) steht

(200, 1)

## Version 2  Transform into NP & reshaping the format

### Long Version

In [13]:
dfTv = df['TV']
print(dfTv.shape) # => hier eben das Problem das oben bereit erwähnt wurde => (200, ) 
dfTv = dfTv.values.reshape(-1,1)
print(dfTv.shape) # => hier eben das Problem das oben bereit erwähnt wurde => (200, )

(200,)
(200, 1)
(200, 1)
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

### Short Version

In [23]:
dfTv = df['TV'].values.reshape(-1,1)
print(dfTv.shape)
print(type(dfTv))
print(type(df))

(200, 1)
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

## Version 3 Transformin in Numpy & select multiple Columns

In [25]:
data = df.iloc[:, 2:4].values
print(data.shape)
print(type(data))
print(type(df))

(200, 2)
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

# Having 2 dataframes of same strucutre & append those => Sequential
hier werden die DF aneinandergereiht

In [6]:
# erstellen der zwei dataframes
dataA = [['tom', 10], ['nick', 15], ['juli', 14]] 
dataB = [['Jochen', 117], ['Chris', 71], ['Silvia', 5]] 
dfA = pd.DataFrame(dataA, columns = ['Name', 'Age'])
dfB = pd.DataFrame(dataB, columns = ['Name', 'Age'])

In [7]:
#Inteaktion des Dataframes
dfappend = dfA.append(dfB)
print(dfappend)
print("###################")

#update index for new dataframe
dfappend = dfappend.reset_index()
# Drop old index column
dfappend = dfappend.drop(columns="index")
print(dfappend)

     Name  Age
0     tom   10
1    nick   15
2    juli   14
0  Jochen  117
1   Chris   71
2  Silvia    5
###################
     Name  Age
0     tom   10
1    nick   15
2    juli   14
3  Jochen  117
4   Chris   71
5  Silvia    5

# Having 2 dataframes of same size & concat those => parallel
hier kann man mit den Column names sich natürlich besser spielen

In [8]:
#II concat => next to each other => rename / Überschreiebn
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
print(dfconcat)
print("###################")
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
dfconcat.columns = ['Name', 'Age', 'ParentsName', 'ParentsAge']
print(dfconcat)

# alternative für die Spalten namen || in diesem bsp halt doof, da hier die gleiche Sturktur (= jeweils Name', 'Age' vorliegt, 
# daher ist das eher ein bsp für sequentielle verbinung nicht parallel )
newHeader = list(list(dfA.columns) + list(dfB.columns))

   Name  Age    Name  Age
0   tom   10  Jochen  117
1  nick   15   Chris   71
2  juli   14  Silvia    5
###################
   Name  Age ParentsName  ParentsAge
0   tom   10      Jochen         117
1  nick   15       Chris          71
2  juli   14      Silvia           5

# add column to dataframe with default value

In [9]:
dfconcat["z"]=1,2,3
print(dfconcat)

   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

# Split in to dataframes an Spalten-Nummer
besonders wichtig bei dem Teil Split von in & output variable

In [10]:
dfSplit1 = dfconcat.iloc[:, :2]
dfSplit2 = dfconcat.iloc[:, 2:]
dfSplit3 = dfconcat.iloc[:, 1]
dfSplit4 = dfconcat.iloc[:, :]
print(dfSplit1)
print("########")
print(dfSplit2)
print("########")
print(dfSplit3)
print("########")
print(dfSplit4)

   Name  Age
0   tom   10
1  nick   15
2  juli   14
########
  ParentsName  ParentsAge  z
0      Jochen         117  1
1       Chris          71  2
2      Silvia           5  3
########
0    10
1    15
2    14
Name: Age, dtype: int64
########
   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

# show all possible values in column & Anzahl der möglichen Ausprägungen

In [16]:
print(dfconcat.Name.unique())
dfconcat_names = list(dfconcat['Name'].unique())
print(len(dfconcat_names))

['tom' 'nick' 'juli']
3

# Subset & filter
## numeric Subset

In [19]:
import numpy as np
# generate random Dataframe
df = pd.DataFrame(np.random.randn(30, 3), columns=['a','b','c'])
#print(df)

In [20]:
# Subset & Filter einfach
df = pd.DataFrame(np.random.randn(30, 3), columns=['a','b','c'])
df_filtered = df.query('a > 0')
#print(df_filtered) #=> das gesamte df
#print(df_filtered.a) #=>gefiltertes df und dort die spalte a

In [21]:
# Subset & Filter kette = mehrere Filter auf ein DF
df_filtered = df.query('a > 0').query('0 < b < 2')
# print(df_filtered) => mehrere Filter

## categorical Subset

In [22]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 19, 22, 21],
'favorite_color': ['blue', 'blue', 'yellow', "green"],
'grade': [88, 92, 95, 70]}

df = pd.DataFrame(raw_data)
df.head()

               name  age favorite_color  grade
0    Willard Morris   20           blue     88
1       Al Jennings   19           blue     92
2      Omar Mullins   22         yellow     95
3  Spencer McDaniel   21          green     70

In [23]:
#To select rows whose column value equals a scalar, some_value, use ==:
df.loc[df['favorite_color'] == 'yellow']

           name  age favorite_color  grade
2  Omar Mullins   22         yellow     95

### !!! Meldung
Ab hier brauche ich eine etwas komplexeres Datenset um klar zu machen, was ich hier tue. Die Schritte sind jedoch nach wievor unabhängig jeweils je Chunk(bzw abschnitt) unabhängig voneinander. Es geht lediglich darum die Konzepte zu verdeutlichen.

In [24]:
import pandas
labelList=['symboling','normalizedLosses','make','fuelType','aspiration','numOfDoors','bodyStyle','driveWheels','engineLocation',
           'wheelBase','length','width','height','curbWeight','engineType','numOfCylinders','engineSize','fuelSystem','bore',
           'stroke','compressionRatio','horsepower','peakRpm','cityMpg','highwayMpg','price']
carDF = pd.read_csv('./data/data_car.csv',delimiter=',',encoding='utf-8', names=labelList)

# Basicinfo

carDF.info()
carDF.isna().any()
carDF.describe()

# Subsets
hier werden wir das DF horizontal schneiden, indem wir bestimmte Parameter in einem Feature mitgeben. Hierz zb alle die ein ? in dem Feature HP haben

In [25]:
#carDF.loc[carDF['make'] == 'audi']
filteredcarDF = carDF.loc[carDF['horsepower'] == '?']

# Ersetzen von Werten // replace

In [27]:
import numpy as np
carDF = carDF.replace("?", np.nan)

# Change Datatype
Es kann vorkommen dass der Datentype geändert werden muss. Hier wird im "carDF" direkt der Wert überschrieben. Davor müssen jedoch die NANs behandelt werden mit Imputation oder drop oder whatever

In [33]:
carDF[['price']]=carDF[['price']].astype('float64')
carDF[['horsepower']]=carDF[['horsepower']].astype('float64')

# Transform pandas in Numpy-Array

In [34]:
print()
arr = df.to_numpy()
print(type(df))
print(type(arr))
print(arr)

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
[['Willard Morris' 20 'blue' 88]
 ['Al Jennings' 19 'blue' 92]
 ['Omar Mullins' 22 'yellow' 95]
 ['Spencer McDaniel' 21 'green' 70]]