<a href="https://datamics.com/de/courses/"><img src=./../DATA/bg_datamics_top.png></a>

<em text-align:center>© Datamics</em>
# SciKit Learn Preprocessing Übersicht

In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0,100,(10,2))

In [4]:
data

array([[69, 47],
       [10, 37],
       [89,  2],
       [56,  9],
       [ 1, 39],
       [ 2, 58],
       [60, 96],
       [38, 80],
       [28, 93],
       [67, 34]])

In [5]:
scaler_model = MinMaxScaler()

In [6]:
scaler_model.fit(data)

Z:\VisualStudio-Lib-Tools\Anaconda3_64\envs\tfdeeplearning\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [7]:
scaler_model.transform(data)

array([[0.77272727, 0.4787234 ],
       [0.10227273, 0.37234043],
       [1.        , 0.        ],
       [0.625     , 0.07446809],
       [0.        , 0.39361702],
       [0.01136364, 0.59574468],
       [0.67045455, 1.        ],
       [0.42045455, 0.82978723],
       [0.30681818, 0.96808511],
       [0.75      , 0.34042553]])

In [8]:
# In einem Schritt
result = scaler_model.fit_transform(data)

Z:\VisualStudio-Lib-Tools\Anaconda3_64\envs\tfdeeplearning\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [9]:
result

array([[0.77272727, 0.4787234 ],
       [0.10227273, 0.37234043],
       [1.        , 0.        ],
       [0.625     , 0.07446809],
       [0.        , 0.39361702],
       [0.01136364, 0.59574468],
       [0.67045455, 1.        ],
       [0.42045455, 0.82978723],
       [0.30681818, 0.96808511],
       [0.75      , 0.34042553]])

In [10]:
import pandas as pd

In [11]:
data = pd.DataFrame(data=np.random.randint(0,101,(50,4)),columns=['f1','f2','f3','label'])

In [12]:
data.head()

   f1  f2  f3  label
0  25  43  87     73
1  44  52  46     71
2  37  62   9     79
3  13  32  80     20
4  18  41   8      4

In [13]:
x = data[['f1','f2','f3']] # Alternatively x = data.drop('label',axis=1)
y = data['label']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=101)

In [16]:
X_train.shape

(35, 3)

In [17]:
X_test.shape

(15, 3)

In [18]:
y_train.shape

(35,)

In [19]:
y_test.shape

(15,)

# Gut gemacht!