<a href="https://datamics.com/de/courses/"><img src=../DATA/bg_datamics_top.png></a>

<em text-align:center>© Datamics</em>
# Klassifizierungsübung - Aufgabe

Wir werden mit einigen Zensusdaten aus Kalifornien arbeiten. In diesen Daten sind Eigenschaften von Leuten festgehalten, anhand derer wir versuchen werden ihr Einkommen vorherzusagen (>50k oder <= 50k).

Hier einige Informationen über den Datensatz:

<table>
<thead>
<tr>
<th>Spaltenname</th>
<th>Datentyp</th>
<th>Beschreibung</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>Das Alter der Person</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>Der Typ des Arbeitgebers der Person (Regierung,  Militär, Privatwirtschaft, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>Die Anzahl an Personen, die die befragte Person, als repräsentativ betrachtet. Diese Variable werden wir nicht nutzen.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>Der höchste Bildungsabschluss der Person</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>Der höchste Bildungsabschluss in numerischer Form</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Familienstand der Person</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>Beschäftigung der Person</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Ehefrau, Eigenes Kind, Ehemann, Nicht-in-der-Familie, Unverheiratet.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>Weiß, Asiatisch-Pazifische-Inseln, Amerika-Indianisch-Eskimo, Andere, Schwarz</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Weiblich, Männlich</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Kapitalgewinne</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Kapitalverluste</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Arbeitsstunde pro Woche</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Herkunftsland</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" oder "&lt;=50K", also ob der jenige mehr oder weniger als $50.000 im Jahr verdient.</td>
</tr>
</tbody>
</table>

Befolgt die **fett** geschriebenen Anweisungen.

## Die Daten laden

**Lese die `census_data.csv` Datei mit Pandas ein.**

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

TensorFlow ist nicht in der Lage Strings als Label zu verstehen. Wir müssen Pandas `.apply()` Methode verwenden. So können wir eine selbstgeschriebene Funktion erstellen, die Label in 0en und 1en umwandelt.

*Hinweis: Wenn du dich mit Pandas nicht auskennst könnte dieser Schritt etwas schwieriger sein. Schaue gerne in die Lösung.*

**Wandle die Label-Spalte in 0en und 1en um.**

array([' <=50K', ' >50K'], dtype=object)

## Train Test Split
**Teile die Daten in Trainings- und Testset auf.**

## Feature Spalte für tf.estimator
**Erstelle eine Feature-Spalte für Tensorflow.**
*Hinweis: Achte auf kategorische und kontinuierliche Werte.*

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

**Importiere `tensorflow` als tf.**

**Erstelle die `tf.feature_column`s für die kategorischen Werte. Nutze "vocabulary lists" oder einfach "hash buckets".**

**Erstelle die kontinuierlichen Feature-Splaten für die kontinuierlichen Werte mit `numeric_column`.**

**Füge alle diese Variablen in eine einzige Liste mit dem Namen "feat_cols".**

## Input Funktion erstellen
**Erstelle eine Input Funktion. die `batch_size` ist dir überlassen.**

**Erstelle dein Modell mit `tf.estimator`. Verwende einen `LinearClassifier`.**

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/k5/7wr8brn12mncybzndxyl31zr0000gq/T/tmp3bheai6v
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/k5/7wr8brn12mncybzndxyl31zr0000gq/T/tmp3bheai6v', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x117209e80>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

**Trainiere dein Modell auf den Daten. Führe mindestens 5000 Schritte durch.**

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/k5/7wr8brn12mncybzndxyl31zr0000gq/T/tmp3bheai6v/model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 169.719
INFO:tensorflow:loss = 314.39676, step = 101 (0.590 sec)
INFO:tensorflow:global_step/sec: 253.894
INFO:tensorflow:loss = 344.06003, step = 201 (0.395 sec)
INFO:tensorflow:global_step/sec: 230.489
INFO:tensorflow:loss = 56.108147, step = 301 (0.432 sec)
INFO:tensorflow:global_step/sec: 327.155
INFO:tensorflow:loss = 113.558014, step = 401 (0.306 sec)
INFO:tensorflow:global_step/sec: 251.431
INFO:tensorflow:loss = 36.221447, step = 501 (0.399 sec)
INFO:tensorflow:global_step/sec: 310.115
INFO:tensorflow:loss = 49.42113, step = 601 (0.322 sec)
INFO:tensorflow:global_step/sec: 316.814
INFO:tensorflow:loss = 30.770102, step = 701 (0.316 sec)
INFO:tensorflow:global_step/sec: 323.892
INFO:tensorflow:loss = 172.43262, step = 801 (0.309 sec)
INFO:tensorflow:global_step/sec: 339.413
INFO:tensorflow:loss = 42.30118, step = 901 (0.293 sec)
INFO:tensorflow:global_step/sec: 265.491
INFO:tensorflow:loss = 1203.0775, step = 1001 (0.377 sec)
INFO:tensorflow:global_step/sec: 317.924
INFO:tensorflow:loss = 38.957047, step = 1101 (0.314 sec)
INFO:tensorflow:global_step/sec: 251.865
INFO:tensorflow:loss = 49.322628, step = 1201 (0.397 sec)
INFO:tensorflow:global_step/sec: 270.795
INFO:tensorflow:loss = 128.44623, step = 1301 (0.370 sec)
INFO:tensorflow:global_step/sec: 287.08
INFO:tensorflow:loss = 236.56526, step = 1401 (0.347 sec)
INFO:tensorflow:global_step/sec: 280.621
INFO:tensorflow:loss = 45.623, step = 1501 (0.357 sec)
INFO:tensorflow:global_step/sec: 312.321
INFO:tensorflow:loss = 39.69956, step = 1601 (0.320 sec)
INFO:tensorflow:global_step/sec: 277.645
INFO:tensorflow:loss = 48.787594, step = 1701 (0.360 sec)
INFO:tensorflow:global_step/sec: 326.622
INFO:tensorflow:loss = 116.67827, step = 1801 (0.307 sec)
INFO:tensorflow:global_step/sec: 298.07
INFO:tensorflow:loss = 32.682884, step = 1901 (0.334 sec)
INFO:tensorflow:global_step/sec: 296.557
INFO:tensorflow:loss = 182.09085, step = 2001 (0.339 sec)
INFO:tensorflow:global_step/sec: 279.524
INFO:tensorflow:loss = 92.99728, step = 2101 (0.359 sec)
INFO:tensorflow:global_step/sec: 336.65
INFO:tensorflow:loss = 55.99994, step = 2201 (0.296 sec)
INFO:tensorflow:global_step/sec: 332.262
INFO:tensorflow:loss = 44.604443, step = 2301 (0.302 sec)
INFO:tensorflow:global_step/sec: 271.909
INFO:tensorflow:loss = 107.09955, step = 2401 (0.365 sec)
INFO:tensorflow:global_step/sec: 337.207
INFO:tensorflow:loss = 214.14821, step = 2501 (0.296 sec)
INFO:tensorflow:global_step/sec: 284.631
INFO:tensorflow:loss = 22.927149, step = 2601 (0.354 sec)
INFO:tensorflow:global_step/sec: 276.466
INFO:tensorflow:loss = 47.913895, step = 2701 (0.359 sec)
INFO:tensorflow:global_step/sec: 273.081
INFO:tensorflow:loss = 63.680508, step = 2801 (0.367 sec)
INFO:tensorflow:global_step/sec: 327.011
INFO:tensorflow:loss = 131.2839, step = 2901 (0.304 sec)
INFO:tensorflow:global_step/sec: 292.896
INFO:tensorflow:loss = 159.50876, step = 3001 (0.344 sec)
INFO:tensorflow:global_step/sec: 344.305
INFO:tensorflow:loss = 105.73378, step = 3101 (0.290 sec)
INFO:tensorflow:global_step/sec: 353.344
INFO:tensorflow:loss = 149.75864, step = 3201 (0.283 sec)
INFO:tensorflow:global_step/sec: 308.362
INFO:tensorflow:loss = 29.463291, step = 3301 (0.322 sec)
INFO:tensorflow:global_step/sec: 343.225
INFO:tensorflow:loss = 34.54476, step = 3401 (0.291 sec)
INFO:tensorflow:global_step/sec: 265.481
INFO:tensorflow:loss = 34.37884, step = 3501 (0.381 sec)
INFO:tensorflow:global_step/sec: 309.389
INFO:tensorflow:loss = 44.479492, step = 3601 (0.321 sec)
INFO:tensorflow:global_step/sec: 309.551
INFO:tensorflow:loss = 40.707973, step = 3701 (0.325 sec)
INFO:tensorflow:global_step/sec: 286.799
INFO:tensorflow:loss = 31.667791, step = 3801 (0.347 sec)
INFO:tensorflow:global_step/sec: 295.678
INFO:tensorflow:loss = 129.78244, step = 3901 (0.340 sec)
INFO:tensorflow:global_step/sec: 282.838
INFO:tensorflow:loss = 32.987465, step = 4001 (0.351 sec)
INFO:tensorflow:global_step/sec: 312.44
INFO:tensorflow:loss = 35.861553, step = 4101 (0.320 sec)
INFO:tensorflow:global_step/sec: 243.569
INFO:tensorflow:loss = 42.581047, step = 4201 (0.410 sec)
INFO:tensorflow:global_step/sec: 287.852
INFO:tensorflow:loss = 65.27334, step = 4301 (0.348 sec)
INFO:tensorflow:global_step/sec: 293.865
INFO:tensorflow:loss = 37.643974, step = 4401 (0.340 sec)
INFO:tensorflow:global_step/sec: 334.534
INFO:tensorflow:loss = 23.674864, step = 4501 (0.300 sec)
INFO:tensorflow:global_step/sec: 338.368
INFO:tensorflow:loss = 64.15332, step = 4601 (0.294 sec)
INFO:tensorflow:global_step/sec: 281.911
INFO:tensorflow:loss = 42.69813, step = 4701 (0.356 sec)
INFO:tensorflow:global_step/sec: 317.65
INFO:tensorflow:loss = 70.125, step = 4801 (0.314 sec)
INFO:tensorflow:global_step/sec: 295.479
INFO:tensorflow:loss = 34.1633, step = 4901 (0.339 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/k5/7wr8brn12mncybzndxyl31zr0000gq/T/tmp3bheai6v/model.ckpt.
INFO:tensorflow:Loss for final step: 36.497356.

## Auswertung

**Erstelle eine Vorhersagefunktion. Bedenke dabei nur X_test daten zu verwenden und setze `shuffle=False`.**

**Nutze `model.predict()` und übergib die Inputfunktion. Dieser Vorgang wird einen Generator von Vorhersagen erstellen. Diesen kannst du in eine Liste umwandeln, indem du `list()` verwendest.**

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/k5/7wr8brn12mncybzndxyl31zr0000gq/T/tmp3bheai6v/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

Jeder Eintrag deiner Liste wird wie folgt aussehen:

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.2914164], dtype=float32),
 'logits': array([-0.8885148], dtype=float32),
 'probabilities': array([0.7085836, 0.2914164], dtype=float32)}

**Erstelle eine Liste, die nur die "class_ids" Key-Values aus der Liste der Dictionaries beinhaltet. Dies sind die Werte, die wir mit den echten Werten aus y_test vergleichen können.**

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

**Importiere den `classification_report` aus `sklearn.metrics`. Finde dann heraus, wie du den Classification Report verwenden kannst, um schnell eine Zusammenfassung deiner Modell Performance zu erhalten.**

             precision    recall  f1-score   support

          0       0.90      0.89      0.90      7436
          1       0.67      0.67      0.67      2333

avg / total       0.84      0.84      0.84      9769

# Gut gemacht!