# Erstelle DF
wenn nicht eingelesen kann man den auch aus den Python datentypen überführen

In [22]:
import pandas as pd

In [23]:
#Create Dataframe
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
df = pd.DataFrame(data)
print(df)

      0   1
0   tom  10
1  nick  15
2  juli  14

In [24]:
#Create Dataframe & add Column names
df2 = pd.DataFrame(data, columns = ['Name', 'Age']) 
print(df2)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

# get Column names as list

In [25]:

for col in df2.columns: 
    print(col) 
    
    
    
    
# alternative
print(df2.columns)
print(type(df2.columns))
print(df2.columns[0])
print(df2.columns[1])

Name
Age
Index(['Name', 'Age'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
Name
Age

# Having 2 dataframes of same strucutre & append those => Sequential
hier werden die DF aneinandergereiht

In [26]:
# erstellen der zwei dataframes
dataA = [['tom', 10], ['nick', 15], ['juli', 14]] 
dataB = [['Jochen', 117], ['Chris', 71], ['Silvia', 5]] 
dfA = pd.DataFrame(dataA, columns = ['Name', 'Age'])
dfB = pd.DataFrame(dataB, columns = ['Name', 'Age'])

In [27]:
#Inteaktion des Dataframes
dfappend = dfA.append(dfB)
print(dfappend)
print("###################")

#update index for new dataframe
dfappend = dfappend.reset_index()
# Drop old index column
dfappend = dfappend.drop(columns="index")
print(dfappend)

     Name  Age
0     tom   10
1    nick   15
2    juli   14
0  Jochen  117
1   Chris   71
2  Silvia    5
###################
     Name  Age
0     tom   10
1    nick   15
2    juli   14
3  Jochen  117
4   Chris   71
5  Silvia    5

# Having 2 dataframes of same size & concat those => parallel
hier kann man mit den Column names sich natürlich besser spielen

In [28]:
#II concat => next to each other => rename / Überschreiebn
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
print(dfconcat)
print("###################")
dfconcat = pd.concat([dfA, dfB], axis=1, sort=False)
dfconcat.columns = ['Name', 'Age', 'ParentsName', 'ParentsAge']
print(dfconcat)

# alternative für die Spalten namen || in diesem bsp halt doof, da hier die gleiche Sturktur (= jeweils Name', 'Age' vorliegt, 
# daher ist das eher ein bsp für sequentielle verbinung nicht parallel )
newHeader = list(list(dfA.columns) + list(dfB.columns))

   Name  Age    Name  Age
0   tom   10  Jochen  117
1  nick   15   Chris   71
2  juli   14  Silvia    5
###################
   Name  Age ParentsName  ParentsAge
0   tom   10      Jochen         117
1  nick   15       Chris          71
2  juli   14      Silvia           5

# add column to dataframe with default value

In [29]:
dfconcat["z"]=1,2,3
print(dfconcat)

   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

# Split in to dataframes an Spalten-Nummer
besonders wichtig bei dem Teil Split von in & output variable

In [30]:
dfSplit1 = dfconcat.iloc[:, :2]
dfSplit2 = dfconcat.iloc[:, 2:]
dfSplit3 = dfconcat.iloc[:, 1]
dfSplit4 = dfconcat.iloc[:, :]
print(dfSplit1)
print("########")
print(dfSplit2)
print("########")
print(dfSplit3)
print("########")
print(dfSplit4)

   Name  Age
0   tom   10
1  nick   15
2  juli   14
########
  ParentsName  ParentsAge  z
0      Jochen         117  1
1       Chris          71  2
2      Silvia           5  3
########
0    10
1    15
2    14
Name: Age, dtype: int64
########
   Name  Age ParentsName  ParentsAge  z
0   tom   10      Jochen         117  1
1  nick   15       Chris          71  2
2  juli   14      Silvia           5  3

# show all possible values in column & Anzahl der möglichen Ausprägungen

In [33]:
print(dfconcat.Name.unique())
dfconcat_names = list(dfconcat['Name'].unique())
print(len(dfconcat_names))

['tom' 'nick' 'juli']
3

# Subset & filter

In [86]:
# generate random Dataframe
df = pd.DataFrame(np.random.randn(30, 3), columns=['a','b','c'])
#print(df)

In [91]:
# Subset & Filter einfach
df = pd.DataFrame(np.random.randn(30, 3), columns=['a','b','c'])
df_filtered = df.query('a > 0')
#print(df_filtered) #=> das gesamte df
#print(df_filtered.a) #=>gefiltertes df und dort die spalte a

In [83]:
# Subset & Filter kette = mehrere Filter auf ein DF
df_filtered = df.query('a > 0').query('0 < b < 2')
# print(df_filtered) => mehrere Filter

           a         b         c
21  0.141970  0.608863  0.652210
22  1.750845  0.026365  0.448670
25  1.180373  0.455540 -0.781715
26  0.093942  1.436504  0.825090
27  1.162528  1.568950  0.623924

# Meldung
Ab hier brauche ich eine etwas komplexeres Datenset um klar zu machen, was ich hier tue. Die Schritte sind jedoch nach wievor unabhängig jeweils je Chunk(bzw abschnitt) unabhängig voneinander. Es geht lediglich darum die Konzepte zu verdeutlichen.

In [80]:
import pandas
labelList=['symboling','normalizedLosses','make','fuelType','aspiration','numOfDoors','bodyStyle','driveWheels','engineLocation',
           'wheelBase','length','width','height','curbWeight','engineType','numOfCylinders','engineSize','fuelSystem','bore',
           'stroke','compressionRatio','horsepower','peakRpm','cityMpg','highwayMpg','price']
carDF = pd.read_csv('./data/data_car.csv',delimiter=',',encoding='utf-8', names=labelList)

# Basicinfo

df.info()
df.isna().any()
df.describe()

# Subsets
hier werden wir das DF horizontal schneiden, indem wir bestimmte Parameter in einem Feature mitgeben. Hierz zb alle die ein ? in dem Feature HP haben

In [82]:
carDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling           205 non-null int64
normalizedLosses    205 non-null object
make                205 non-null object
fuelType            205 non-null object
aspiration          205 non-null object
numOfDoors          205 non-null object
bodyStyle           205 non-null object
driveWheels         205 non-null object
engineLocation      205 non-null object
wheelBase           205 non-null float64
length              205 non-null float64
width               205 non-null float64
height              205 non-null float64
curbWeight          205 non-null int64
engineType          205 non-null object
numOfCylinders      205 non-null object
engineSize          205 non-null int64
fuelSystem          205 non-null object
bore                205 non-null object
stroke              205 non-null object
compressionRatio    205 non-null float64
horsepower          205 non-null object
peakRpm             205 non-null object
cityMpg             205 non-null int64
highwayMpg          205 non-null int64
price               205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [78]:

total_charges_filter = carDF.loc[df['horsepower'] == "?"]
# df.loc[df['column_name'] == some_value]
print(total_charges_filter)

Empty DataFrame
Columns: [symboling, normalizedLosses, make, fuelType, aspiration, numOfDoors, bodyStyle, driveWheels, engineLocation, wheelBase, length, width, height, curbWeight, engineType, numOfCylinders, engineSize, fuelSystem, bore, stroke, compressionRatio, horsepower, peakRpm, cityMpg, highwayMpg, price]
Index: []

[0 rows x 26 columns]

# Ersetzen von Werten // replace

In [52]:
import numpy as np
carDF = carDF.replace("?", np.nan)

# Change Datatype
Es kann vorkommen dass der Datentype geändert werden muss. Hier wird im "carDF" direkt der Wert überschrieben. Davor müssen jedoch die NANs behandelt werden mit Imputation oder drop oder whatever

In [54]:
carDF[['price']]=carDF[['price']].astype('float64')
carDF[['horsepower']]=carDF[['horsepower']].astype('float64')