# Data Binning

die Zugrundeliegende Theorie findet man [hier](https://github.com/JHC90/Basic-DataScience-Skills/wiki/EDA_4_ExploringData_Boxplot)

In [30]:
import pandas as pd
# davor mit einem editor (bspw notpad++) sich kurz einen überblick über die Datei beschaffen
stateData=pd.read_csv('./data/state.csv',delimiter=',',encoding='utf-8')

In [31]:
stateData.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

## Binning mit Pandas entlang der Quantile

In [40]:
bin_labels = ['Bronze', 'Silver', 'Gold', 'Platinum', 'Diamond']
stateData['AufteilungViaQuantile'] = pd.qcut(stateData['Population'], q=[0, .2, .4, .6, .8, 1], labels=bin_labels)
#print(stateData.head())
#print(stateData[['State','Population','AufteilungViaQuantile']])
print(stateData.loc[stateData['AufteilungViaQuantile'] == 'Gold']) # Ausgabe nur der Gold Staaten

             State  Population  Murder.Rate Abbreviation AufteilungViaQuantile
0          Alabama     4779736          5.7           AL                  Gold
5         Colorado     5029196          2.8           CO                  Gold
6      Connecticut     3574097          2.4           CT                  Gold
14            Iowa     3046355          1.9           IA                  Gold
16        Kentucky     4339367          3.6           KY                  Gold
17       Louisiana     4533372         10.3           LA                  Gold
22       Minnesota     5303925          1.6           MN                  Gold
35        Oklahoma     3751351          4.5           OK                  Gold
36          Oregon     3831074          2.0           OR                  Gold
39  South Carolina     4625364          6.4           SC                  Gold

# Under Constuction
Heist läuft noch nicht, aber ich versuche das hinzubekommen